body{
    margin: 0;
    background: #ffffff;
}

.purple{
    background: #830083;
}

button{
    display: block;
    padding: 5px;
    font-size: 2em;
    border-radius: 5px;
    margin: 50px auto;
}