body{
    font-size: 10px;
    font-family: 'Lato';
}

h1{
    font-size: 1.6rem;
    padding: 0.5rem 0;
    margin: 0 1.34%;
    font-weight: 700;
    width: 30%;
    box-sizing: border-box;
    border-bottom: 2px solid #dddddd;
}

.photo-grid{
    display: flex;
}

img{
    width: 30%;
    margin: 1.34%;
}